
<div class="page-banner banner">
  <header id="banner" role="banner" class="banner__region container">
    <div class="row row-sm-height">
      <div class="col-xs-12">
        <p class="logo"><a href="{{ site.url }}" itemprop="url" id="mOrga" title="{{ site.title }} (Home)" class="logo__link" rel="home"><span class="logo__content"><span itemprop="name" class="logo__name">{{ site.title }}</span><span itemprop="description" class="logo__slogan">Projet: {{ site.SITE_NAME }}</span></span></a></p></div>
      </div>
    </div>
  </header>
</div>
