<!DOCTYPE html>
<!--[if IE 9]><html class="ie9 no-js" lang="{{ site.isolang }}" dir="{{ site.isodir }}"><![endif]-->
<html class="ie9 no-js" lang="{{ site.isolang }}" dir="{{ site.isodir }}">
{% include head.html %}
<body>
  <p id="skiplinks" class="skiplinks">
    <a href="#navigation">Navigation</a>
    <a href="#main">Contenu principal</a>
  </p>
  <div id="page" class="page">

    {% include header.html %}

    <div class="page-container">
      <div id="container" class="container__region container">
        <div class="row">
          <div class="aside aside--left col-xs-12 col-sm-4">
            <aside id="aside_left" role="complementary" class="aside__region">
              <div id="block-views-most-read-block" class="block block--views block--first first odd">
                <p class="block__title">Général</p>
                <div class="block-content">
                  <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                  </ul>
                </div>
              </div>
            </aside>
          </div>
          <div id="content" class="col-xs-12 col-sm-8">
            <main id="main" class="main" role="main">

             {{ content }}

            </main>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </div>
</body>
</html>
