<!DOCTYPE html>
<html lang="{{ site.isolang }}" dir="{{ site.isodir }}">
{% include head.html %}
<body>
  <p id="skiplinks" class="skiplinks">
    <a href="#navigation">Navigation</a>
    <a href="#main">Contenu principal</a>
  </p>
  <div id="page" class="page">

    {% include header.html %}

    <div class="page-container">
      <div id="container" class="container__region container">
        <div class="row">
          {{ content }}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </div>
</body>
</html>
